<h4>
    Firstly, we generate a short code thet consist of 8 symbols. Than we make a one url from a short code and a domen. After that we check have we such ulr in database,if check sent us a true,so we show an error-message.If everything is alright we will make a single short URL.If we go on shorturl it redirect to a long one in the database
</h4>